*{
    border: 0;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color:white;
}


#intro-head{
    text-align: center;
}

#intro-para{
    margin-left: 145px;
    margin-right: 145px;
    position: relative;
    top:15px;
    font-size: 20px;
    color: rgb(174, 171, 171);
}

.dist-images {
    /* border: 2px solid rebeccapurple; */
    position: relative;
    top:12rem;
    margin-left: 105px;
}

.dist-images img{
    height: 200px;
    padding: 9px;
}

.logo{
    /* border: 1px solid blue; */
    position: relative;
    top:150px;
    /* padding: 18px; */
    letter-spacing: 20px;
    margin-left: 50%;
}

i{
    /* float: right; */

    color: green;
    /* margin-left: 550px; */
}

form{
    /* border: 1px solid black; */
    /* margin-top: 50px; */
    width : 500px;
    text-align: center;
    margin-left: 650px;
}


input{
    width: 200px;
    height: 30px;
    border: transparent;
    line-height: 30px;
}


button{
    height: 30px;    
    background-color:white;
    color: black;
    padding-left: 12px;
}

.newsletter{
    position: absolute;
    margin-top: 40px;
    /* border: 1px solid brown; */
}

#email{
    margin-top: 20px;
}


.image-div {
    position: relative;
  }
  
   a h4 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    font-family:fantasy;
    color:whitesmoke;
  }


  div h5{
    font-family:fantasy;
    color:whitesmoke;

  }
